<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x - Assignment 1</display-name>
  <welcome-file-list>
    <welcome-file>HomeProductController</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>duongdt@fpt.com.vn</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>linh</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLController</display-name>
    <servlet-name>URLController</servlet-name>
    <servlet-class>controller.URLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLController</servlet-name>
    <url-pattern>/URLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfomationProductController</display-name>
    <servlet-name>InfomationProductController</servlet-name>
    <servlet-class>controller.InfomationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfomationProductController</servlet-name>
    <url-pattern>/InfomationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/SearchController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeProductController</display-name>
    <servlet-name>HomeProductController</servlet-name>
    <servlet-class>controller.HomeProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeProductController</servlet-name>
    <url-pattern>/HomeProductController</url-pattern>
  </servlet-mapping>
</web-app>